$dark: (
    background: #383838,
    border: #555,
    font: #707070,
    fontActive: #bbb
);

$brown: (
    200: #f7b26d,
    300: #d98c40,
    400: #bc6c1e,
    500: #9a5109,
    600: #713800
);

$white: (
    200: #cccccc,
    300: #e2e2e2,
    400: #b3b2b2,
    500: #797979,
);

$navy: (
    200: #9a5109, // hover
    300: #525252, // active
    400: #474747, // second
    500: #313131, // main
);

$cyan: (
    200: #47a9a9,
    300: #279494,
    400: #088d8d,
    500: #036f6f,
    600: #005757
)
